{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Produse - Modifica {{ g.produs[1] }} avand codul "{{ g.produs[0] }}"</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="nume">Nume</label>
		<input name="nume" id="nume" value="{{ request.form['nume'] or g.produs[1] }}" required>
		<label for="pret_unitar">Pret unitar</label>
		<input name="pret_unitar" id="pret_unitar" value="{{ request.form['pret_unitar'] or g.produs[2] }}" required>
		<input type="submit" value="Salveaza">
	</form>
{% endblock %}
