{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Produse - Adauga</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="cod">Cod</label>
		<input name="cod" id="cod" value="{{ request.form['cod'] }}" required>
		<label for="nume">Nume</label>
		<input name="nume" id="nume" value="{{ request.form['nume'] }}" required>
		<label for="pret_unitar">Pret unitar</label>
		<input name="pret_unitar" id="pret_unitar" value="{{ request.form['pret_unitar'] }}" required>
		<input type="submit" value="Salveaza">
	</form>
{% endblock %}
