{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Produse</h2>
	<nav>
		<ul>
			<li><a class="actiune" href="{{ url_for('vedere_produse.pagina_adauga') }}">Adauga</a>
		</ul>
	</nav>
{% endblock %}

{% block continut %}
	{% for produs in g.produse %}
		<article class="element">
			<header>
				<div class="zona_nume_element">
					<h3 class="nume_element">{{ produs[1] }}</h3>
				</div>
				<div class="zona_actiuni_element">
					<a class="actiune_element" href="{{ url_for('vedere_produse.pagina_modifica', cod=produs[0]) }}">Modifica</a>
					<a class="actiune_element" href="{{ url_for('vedere_produse.pagina_sterge', cod=produs[0]) }}">Sterge</a>
				</div>
			</header>
			<div class="descriere_element">
				<p><span class="nume_proprietate">Cod:</span> <span class="valoare_proprietate">{{ produs[0] }}</span></p>
				<p><span class="nume_proprietate">Pret unitar:</span> <span class="valoare_proprietate">{{ produs[2] }}</span></p>
			</div>
		</article>
	{% endfor %}
{% endblock %}
