{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Produse - Sterge {{ g.produs[1] }} avand codul "{{ g.produs[0] }}"</h2>
{% endblock %}

{% block continut %}
	<div>
		<p>Sunteti sigur(a) ca doriti sa stergeti produsul?</p>
	</div>
	<form method="post">
		<input type="submit" value="Da">
		<input type="button" value="Nu" onclick="window.location.replace({{ url_for('vedere_produse.pagina_index') }})">
	</form>
{% endblock %}
