{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Cumpara</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="numar_produse_diferite">Numar produse diferite</label>
		<input name="numar_produse_diferite" id="numar_produse_diferite" value="{{ request.form['numar_produse_diferite'] }}" required>
		<input type="submit" value="Introduce produse">
	</form>
{% endblock %}
