{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Cumpara</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<p>
			<label for="nume">Nume</label>
			<input name="nume" id="nume" value="{{ request.form['nume'] }}" required>
			<label for="email">Email</label>
			<input name="email" id="email" value="{{ request.form['email'] }}" required>
			<label for="telefon">Telefon</label>
			<input name="telefon" id="telefon" value="{{ request.form['telefon'] }}" required>
			<label for="adresa_livrare">Adresa livrare</label>
			<input name="adresa_livrare" id="adresa_livrare" value="{{ request.form['adresa_livrare'] }}" required>
		</p>
		{% for i in range(1, g.numar_produse_diferite+1) %}
			<p>
				<span class="categorie_formular">Produs {{i}}:</span>
				<label for="cod_produs_{{ i }}">Cod</label>
				<input name="cod_produs_{{ i }}" id="cod_produs_{{ i }}" value="{{ request.form['cod_produs_{{ i }}'] }}" required>
				<label for="cantitate_produs_{{ i }}">Cantitate</label>
				<input name="cantitate_produs_{{ i }}" id="cantitate_produs_{{ i }}" value="{{ request.form['cantitate_produs_{{ i }}'] }}" required>
			</p>
		{% endfor %}
		<p><input type="submit" value="Plaseaza comanda"></p>
	</form>
{% endblock %}
