{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Setari</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="nume_magazin">Nume magazin</label>
		<input name="nume_magazin" id="nume_magazin" value="{{ request.form['nume_magazin'] or g.informatii_magazin[1] }}" required>
		<input type="submit" value="Salveaza">
	</form>
{% endblock %}


