<!doctype html>
<title>{{ g.informatii_magazin[1] }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
<nav class="zona_titlu_site">
	<h1>{{ g.informatii_magazin[1] }}</h1>
</nav>
<nav class="meniu_principal">
	<ul>
		<li><a href="{{ url_for('vedere_index.pagina_index') }}">Pagina principala</a>
		<li><a href="{{ url_for('vedere_cumparare.pagina_index') }}">Cumpara</a>
	</ul>
</nav>
<section>
	{% for mesaj in get_flashed_messages() %}
		<div class="mesaj_eroare">{{ mesaj }}</div>
	{% endfor %}
	<header>
		{% block antet %}{% endblock %}
	</header>
	{% block continut %}{% endblock %}
</section>

