{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Produse</h2>
{% endblock %}

{% block continut %}
	{% for produs in g.produse %}
		<article class="element">
			<header>
				<div class="zona_nume_element">
					<h3 class="nume_element">{{ produs[1] }}</h3>
				</div>
			</header>
			<div class="descriere_element">
				<p><span class="nume_proprietate">Cod:</span> <span class="valoare_proprietate">{{ produs[0] }}</span></p>
				<p><span class="nume_proprietate">Pret unitar:</span> <span class="valoare_proprietate">{{ produs[2] }}</span></p>
				{% if g.stoc[produs[0]][1] >= g.stoc[produs[0]][2] %}
					<p><span class="nume_proprietate">In stoc.</span></p>
				{% else %}
					<p><span class="nume_proprietate">Stoc:</span> <span class="valoare_proprietate">{{ g.stoc[produs[0]][1] }}</span></p>
				{% endif %}
			</div>
		</article>
	{% endfor %}
{% endblock %}
