<!doctype html>
<title>Conectare magazin online</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
<nav>
	<h1>Conectare magazin online</h1>
</nav>
<section>
	{% for mesaj in get_flashed_messages() %}
		<div class="mesaj_eroare">{{ mesaj }}</div>
	{% endfor %}
	<form method="post">
		<label for="nume">Nume cont</label>
		<input name="nume" id="nume" required>
		<label for="parola">Parola</label>
		<input type="password" name="parola" id="parola" required>
		<input type="submit" value="Conecteaza">
	</form>
</section>
