html { font-family: "Arial"; padding: 1rem; }
body { background-color: #ccccff; }
h1 { font-family: "Verdana"; font-size: 2rem; color: #339933; margin: 1rem; }
h2 { font-family: "Tahoma"; font-size: 1.5rem; color: #3366ff; margin: 0.5rem; }
h3 { font-family: "Tahoma"; font-size: 1.25rem; color: #9900cc; margin: 0.25rem; }
a { color: #6666ff; }
.zona_titlu_size { background-color: #0099cc }
.zona_titlu_site > ul, .meniu_principal > ul { display: flex; list-style-type: none; margin: 0; padding: 0; }
.zona_titlu_site > ul li a, .meniu_principal > ul li a { display: block; padding: 0.5rem; }
.zona_titlu_site { display: flex; align-items: flex-end; }
.zona_titlu_site > h1 { flex: auto; }
.utilizator_conectat { color: #9966ff; font-size: 1.5rem; font-weight: bold; }
.meniu_principal { background-color: #336699; }
.meniu_principal > ul li a { color: #ffffff; font-size: 1.5rem; }
.actiune { color: #ff9966; font-size: 1.25rem; font-weight: bold; }
label { font-weight: bold; }
.mesaj_eroare { margin: 1em; padding: 1em; color: #ffffff; background-color: #ff0000; }
.continut { padding: 1rem; }
.continut .element { border: 2px solid #000066; }
.continut .element > header { display: flex; align-items: flex-end; }
.continut .element > header nav ul { display: flex; list-style-type: none; margin: 0; padding: 0; }
.continut .element > header > .zona_nume_element { flex: auto; }
.actiune_element { color: #ff9966; font-size: 1.25rem; font-weight: bold; }
.nume_proprietate { color: #339966; font-weight: bold; }
.valoare_proprietate { color: #009999; }
.categorie_formular { color: #004080; font-size: 1.10rem; font-weight: bold; }
