{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Stoc - Modifica stoc {{ g.produs[1] }} avand codul "{{ g.produs[0] }}"</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="cantitate">Cantitate</label>
		<input name="cantitate" id="cantitate" value="{{ request.form['cantitate'] or g.stoc_produs[1] }}" required>
		<label for="cantitate_suficienta">Cantitate suficienta</label>
		<input name="cantitate_suficienta" id="cantitate_suficienta" value="{{ request.form['cantitate_suficienta'] or g.stoc_produs[2] }}" required>
		<input type="submit" value="Salveaza">
	</form>
{% endblock %}
