{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Stoc</h2>
{% endblock %}

{% block continut %}
	{% for produs in g.produse %}
		<article class="element">
			<header>
				<div class="zona_nume_element">
					<h3 class="nume_element">{{ produs[1] }}</h3>
				</div>
				<div class="zona_actiuni_element">
					<a class="actiune_element" href="{{ url_for('vedere_stoc.pagina_modifica', cod_produs=produs[0]) }}">Modifica</a>
				</div>
			</header>
			<div class="descriere_element">
				<p><span class="nume_proprietate">Cod:</span> <span class="valoare_proprietate">{{ produs[0] }}</span></p>
				<p><span class="nume_proprietate">Cantitate:</span> <span class="valoare_proprietate">{{ g.stoc[produs[0]][1] }}</span></p>
				<p><span class="nume_proprietate">Cantitate suficienta:</span> <span class="valoare_proprietate">{{ g.stoc[produs[0]][2] }}</span></p>
			</div>
		</article>
	{% endfor %}
{% endblock %}
