<!doctype html>
<title>{{ g.informatii_magazin[1] }} - Gestiune</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
<nav class="zona_titlu_site">
	<h1>{{ g.informatii_magazin[1] }} - Gestiune</h1>
	<ul>
		{% if g.utilizator_conectat %}
			<li><span class="utilizator_conectat">{{ g.utilizator_conectat[1] }}</span>
			<li><a class="actiune" href="{{ url_for('vedere_autentificare.pagina_deconecteaza') }}">Deconecteaza</a>
		{% else %}
			<li><a class="actiune" href="{{ url_for('vedere_autentificare.pagina_conecteaza') }}">Conecteaza</a>
		{% endif %}
	</ul>
</nav>
<nav class="meniu_principal">
	<ul>
		<li><a href="{{ url_for('vedere_index.pagina_index') }}">Pagina principala</a>
		<li><a href="{{ url_for('vedere_produse.pagina_index') }}">Produse</a>
		<li><a href="{{ url_for('vedere_stoc.pagina_index') }}">Stoc</a>
		<li><a href="{{ url_for('vedere_comenzi.pagina_index') }}">Comenzi</a>
		<li><a href="{{ url_for('vedere_setari.pagina_index') }}">Setari</a>
		<li><a href="{{ url_for('vedere_conturi_gestiune.pagina_index') }}">Conturi gestiune</a>
	</ul>
</nav>
<section class="continut">
	{% for mesaj in get_flashed_messages() %}
		<div class="mesaj_eroare">{{ mesaj }}</div>
	{% endfor %}
	<header>
		{% block antet %}{% endblock %}
	</header>
	{% block continut %}{% endblock %}
</section>

