{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Comenzi - Detalii comanda {{ g.comanda[0] }}</h2>
{% endblock %}

{% block continut %}
	<p><span class="nume_proprietate">Nume client:</span> <span class="valoare_proprietate">{{ g.comanda[1] }}</span></p>
	<p><span class="nume_proprietate">E-mail client:</span> <span class="valoare_proprietate">{{ g.comanda[2] }}</span></p>
	<p><span class="nume_proprietate">Telefon client:</span> <span class="valoare_proprietate">{{ g.comanda[3] }}</span></p>
	<p><span class="nume_proprietate">Adresa livrare:</span> <span class="valoare_proprietate">{{ g.comanda[4] }}</span></p>
	<p><span class="nume_proprietate">Pret total:</span> <span class="valoare_proprietate">{{ g.comanda[5] }}</span></p>
	<p><span class="nume_proprietate">Stare comanda:</span> <span class="valoare_proprietate">{{ g.comanda[6] }}</span></p>
	<h3>Produse</h3>
	{% for produs_comanda in g.produse_comanda %}
		<p><span class="nume_element">{{ produs_comanda[0] }}</span> - <span class="nume_proprietate">cantitate:</span> <span class="valoare_proprietate">{{ produs_comanda[1] }}</span></p>
	{% endfor %}
	<div>
		{% if g.comanda[6] != 'livrata' %}
			<p><a class="actiune_element" href="{{ url_for('vedere_comenzi.pagina_marcheaza_livrata', id_comanda=g.comanda[0]) }}">Marcheaza comanda ca livrata</a></p>
		{% endif %}
		<p><a class="actiune_element" href="{{ url_for('vedere_comenzi.pagina_sterge', id_comanda=g.comanda[0]) }}">Sterge comanda</a></p>
	</div>
{% endblock %}
