{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Comenzi - Sterge comanda {{ g.comanda[0] }}</h2>
{% endblock %}

{% block continut %}
	<div>
		<p>Sunteti sigur(a) ca doriti sa stergeti comanda?</p>
	</div>
	<form method="post">
		<input type="submit" value="Da">
		<input type="button" value="Nu" onclick="window.location.replace({{ url_for('vedere_comenzi.pagina_index') }})">
	</form>
{% endblock %}
