{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Comenzi</h2>
{% endblock %}

{% block continut %}
	{% for comanda in g.comenzi %}
		<article class="element">
			<header>
				<div class="zona_nume_element">
					<h3 class="nume_element">{{ comanda[0] }}</h3>
				</div>
				<div class="zona_actiuni_element">
					<a class="actiune_element" href="{{ url_for('vedere_comenzi.pagina_detalii', id_comanda=comanda[0]) }}">Detalii</a>
				</div>
			</header>
			<div class="descriere_element">
				<p><span class="nume_proprietate">Nume client:</span> <span class="valoare_proprietate">{{ comanda[1] }}</span></p>
				<p><span class="nume_proprietate">Pret total:</span> <span class="valoare_proprietate">{{ comanda[5] }}</span></p>
				<p><span class="nume_proprietate">Stare:</span> <span class="valoare_proprietate">{{ comanda[6] }}</span></p>
			</div>
		</article>
	{% endfor %}
{% endblock %}
