{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Conturi gestiune - Sterge {{ g.cont_gestiune[1] }}</h2>
{% endblock %}

{% block continut %}
	<div>
		<p>Sunteti sigur(a) ca doriti sa stergeti contul?</p>
	</div>
	<form method="post">
		<input type="submit" value="Da">
		<input type="button" value="Nu" onclick="window.location.replace({{ url_for('vedere_produse.pagina_index') }})">
	</form>
{% endblock %}
