{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Conturi gestiune - Modifica {{ g.cont_gestiune[1] }}</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="parola">Parola</label>
		<input type="password" name="parola" id="parola" required>
		<input type="submit" value="Salveaza">
	</form>
{% endblock %}
