{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Conturi gestiune - Adauga</h2>
{% endblock %}

{% block continut %}
	<form method="post">
		<label for="nume">Nume cont</label>
		<input name="nume" id="nume" required>
		<label for="parola">Parola</label>
		<input type="password" name="parola" id="parola" required>
		<input type="submit" value="Salveaza">
	</form>
{% endblock %}
