{% extends 'pagina_baza.html' %}

{% block antet %}
	<h2>Conturi gestiune</h2>
	<nav>
		<ul>
			<li><a class="actiune" href="{{ url_for('vedere_conturi_gestiune.pagina_adauga') }}">Adauga</a>
		</ul>
	</nav>
{% endblock %}

{% block continut %}
	{% for cont in g.conturi_gestiune %}
		<article class="element">
			<header>
				<div class="zona_nume_element">
					<h3 class="nume_element">{{ cont[1] }}</h3>
				</div>
				<div class="zona_actiuni_element">
					<a class="actiune_element" href="{{ url_for('vedere_conturi_gestiune.pagina_modifica', id=cont[0]) }}">Modifica</a>
					<a class="actiune_element" href="{{ url_for('vedere_conturi_gestiune.pagina_sterge', id=cont[0]) }}">Sterge</a>
				</div>
			</header>
		</article>
	{% endfor %}
{% endblock %}
